.home-container{
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-top: 5px;
    
}
.search-input{
    padding: 15px;
    width: 50%;
}
.search-btn{
    padding: 14px 17px;
    background-color: burlywood;
    border: none;
    color: wheat;
    font-weight: 600;
}
.cart{
    border: 1px solid gray;
    box-shadow: 4px 4px 8px gray;
    border-radius: 5px;
    padding: 10px;
    margin-right: 10px;
}